{% extends 'Home.html' %}

{% load static %}

{% block title %}Blogs{% endblock title %}

{% block content %}

<link href="{% static 'css/main.css' %}" rel="stylesheet"/>

<style>
    #read:hover {
        color: white;
    }
</style>
<div class="container-fluid">
    <div class="container bg-dark d-flex justify-content-center p-4">
        {% if request.path == '/blog' %}
        <a class="nav-link" href="{% url 'upload' %}"><button class="btn btn-secondary">Upload Blog <i
                    class="fa fa-upload" aria-hidden="true"></i></button></a>
        {% endif %}
    </div>
    <div class="container">
        <div class="section-title mt-4">
            <div class="row">
                <div class="col-md-8 me-auto">
                    <h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-danger" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        {% if allCategory %}
        <div class="col-md-3 mb-3 p-0">
            <div class="dropdown">
                <a class="btn btn-sm btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Category
                </a>

                <ul class="dropdown-menu">
                    {% for i in allCategory %}
                    <li><a class="dropdown-item" href="/category/{{i.Category_id}}">{{i.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="row">
            {% for i in allPosts %}
            <div class="col-md-4 my-3">
                <div class="card">
                    <a href="post/{{i.post_id}}"><img src="{{i.thumbnail}}" class="card-img-top" alt="Not found"
                            height="180"></a>
                    <div class="card-body">
                        <h5 class="mb-1 h4 font-weight-bold">
                            <a class="text-dark" href="/post/{{i.post_id}}">{{i.title|truncatechars:24}}</a>
                        </h5>
                        <p class="card-text">{{i.content|truncatechars:80}}</p>
                        <a href="post/{{i.post_id}}" class="btn btn-sm btn-outline-secondary m-1" id="read">Read
                            More</a>
                    </div>
                </div>
            </div>
            {% empty %}
				<div class="container d-flex justify-content-center p-5">
					<h3 class="placeholder  bg-danger text-white p-5">Sorry no post</h3>
				</div>
            {% endfor %}
        </div>

        <!-- ---------------------------------------
        PAGINATION
    ------------------------------------------ -->
        <div class="col-md-6">
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-3 ">
                    {% if allPosts.has_previous %}
                    <li class="page-item active"><a class="page-link"
                            href="?page={{allPosts.previous_page_number}}">Previous</a></li>
                    {% endif %}
                    {% for p in totalPageList %}
                    <li class="page-item"><a class="page-link" href="?page={{p}}">{{forloop.counter}}</a></li>
                    {% endfor %}
                    {% if allPosts.has_next %}
                    <li class="page-item active"><a class="page-link"
                            href="?page={{allPosts.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>



    {% if upload == 'yes' %}
    <script>
        alert('Blog Upload successfully');
        window.location = ('{% url 'blog' %}'); 
    </script>
    {% endif %}
    {% if upload == 'no' %}
    <script>
        alert('Something Went Wrong,Try Again ...');
    </script>
    {% endif %}
    {% endblock content %}